* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  font-family: Harting, sans-serif;
  text-align: center;
  padding: 35px 0;
  font-size: 2rem;
  border-top: 3px solid grey;
}

header span {
  padding: 17px 0;
  border-bottom: 3px solid grey;
}

#navbar {
  position:fixed;
  box-sizing: border-box;
  background-color: black;
  color: white;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  padding: 0px;
  border-right: 3px solid grey;
}

#navbar ul {
  margin: 20px;
  list-style: none;
}

#navbar li {
  color: white;
  border-bottom: 1px solid grey;
  width: 100%;
  padding: 15px 0;
  font-family: Harting, sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

#main-doc {
  position: absolute;
  margin-left: 300px;
  width: calc(100% - 310px);
}



h1, main > p {
  font-family: Harting, sans-serif;
  text-align: center;
  margin: 0;
  width: 100%;
}

h1 {
  padding-top: 20px;
  font-size: 3rem;
  margin-top: 30px;
}

main > p {
  font-size: 1.5em;
  padding: 14px 0;
  margin-bottom: 19px;
}

section > p {
  position:relative;
  top: -10px;
  text-align: center;
  font-family: 'JMH Typewriter dry', sans-serif;
}

ol {
  padding: 25px 0;
  font-family: 'JMH Typewriter dry', sans-serif;
  font-size: 0.9rem;
  color: #6e6e6e;
  width: 100%;
  text-align: center;
  list-style: none;
}
ol li{
  padding: 3px 0;
}

code {
  display: block;
  text-align: center;
  white-space: pre-line;
  position: relative;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px 200px;
  border-radius: 5px;
  font-style: italic;
}

.title {
  color: red;
  font-weight: bold;
}

@media (max-width: 960px) {
  #navbar header{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #navbar span {
    border: none;
    padding: 0;
    margin: 0;
  }
 
  #navbar {
  position:absolute;
  box-sizing: border-box;
  background-color: black;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  padding: 0px;
  border-right: 3px solid grey;
  }
  #main-doc {
  position: absolute;
  margin-top: 400px;
  margin-left: 50px;
  width: 80%;
  }
}
